<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Db" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=OneTrueErrorTests;Integrated Security=True;Connect Timeout=30;multipleactiveresultsets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LiveServerUrl" value="https://live-test-lobby.azurewebsites.net/" />
  </appSettings>
</configuration>